asn1crypto==0.24.0
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cryptography==2.1.4
cycler==0.10.0
dicom==0.9.9.post1
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
nibabel==2.3.3
numpy==1.16.5
matplotlib==3.1
med2image==1.1.2
Pillow==5.4.1
pycrypto==2.6.1
pydicom==1.2.2
pygobject==3.27.0
pyparsing==2.3.1
python-dateutil==2.7.5
pyxdg==0.25
requests==2.21.0
SecretStorage==2.3.1
scipy==1.6
#SimpleITK==1.2.0 # using a pre-build version for performance issues
six==1.11.0
unattended-upgrades==0.1
urllib3==1.24.1
